.NewPost {
    width: 80%;
    margin: 20px auto;
    text-align: center;

    background-color: white;
    border-radius: 10px;
    padding: 30px 30px 50px;
    color: black;
    font-weight: 500;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
}

.NewPost label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.NewPost input,
.NewPost textarea,
.NewPost select {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: auto;
    padding: 12px 20px;
    border-radius: 4px;

}

.NewPost button {
    margin: 5px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid black;
    background-color: #3700b5;
    color: white;
    cursor: pointer;
}

.NewPost button:hover,
.NewPost button:active {
    color: white;
    background-color: #490dd6;
}

.Dark{
    background-color: hsl(260, 18%, 10%);
    color: white;
}
.Dark input,
.Dark textarea,
.Dark select{
    background-color:#262626;
    color: white;
}
.Light{
    background-color: #ffffff;
    color: black;
}