.Post {
    width: 250px;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    
    background-color: white;
    border-radius: 10px;
    padding: 30px 30px 50px;
    color: black;
    font-weight: 500;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
}

.Post:hover,
.Post:active {
    background-color: #232324;
}

.Author {
    margin: 16px 0;
    color: #ccc;
}
.Dark{
    background-color: hsl(260, 18%, 10%);
    color: white;
}
.Light{
    background-color: #ffffff;
    color: black;
}