.NewPost {
    width: 80%;
    margin: 20px auto;
    text-align: center;

    background-color: white;
    border-radius: 10px;
    padding: 30px 30px 50px;
    color: black;
    font-weight: 500;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
}

.NewPost label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.NewPost input,
.NewPost textarea,
.NewPost select {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: auto;
}

.NewPost button {
    margin: 5px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid #fa923f;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer;
}

.NewPost button:hover,
.NewPost button:active {
    color: white;
    background-color: #fa923f;
}